
* {
    margin: 0;
    padding: 0;
  }
  
  body,
  html {
    width: 100%;
    height: 100%;
  }
  

  body {
    background: linear-gradient(rgba(155, 45, 45, 0.3), rgba(0, 0, 0, 0)),
      url(../caminhos/Imagens/vinkings.jpg);
   


  }

  .container{
    max-width: 100vw;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  }

  .rolloImg {
    float:left;
    width: 450px;
    height: 250px;
    margin:40px;
    border-radius: 30px;
  }

  .displayjogo{
      width: 600px;
      color: rgb(102, 14, 14);
      font-size: 20px;
      font-weight: bold;

  }


  button{
    height: 80px;
    width:160px;
    border-radius: 20px;
    font-size: 25px;
    background-color: brown;
    color: white;
    cursor: pointer;
    
}

button:hover{

    background-color: rgb(63, 7, 7);
    transition: .5s;
    border: solid 3px black;
    box-shadow: 20px 20px 80px rgb(54, 10, 10);
    transform: scale(1.2)rotate(360deg);
}

a{
  text-decoration: none;
  color: white;
}



  footer {
    height: 20px;
    margin-bottom: 0;
  }
  
  .rodape {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }